<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Site Down!</title>
</head>
<body>
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr>
		<td valign="top">
			<h2>{{site.name}} may be down!</h2>
			<p>Hi There,</p>

<p>One of our sites ({{ site.name }}) has raised an alert on the statusboard at {{ date }}.</p>

<p>Regards,<br />
The Statusboard.</p>

		</td>
	</tr>
</table>
<!-- End of wrapper table -->
</body>
</html>
